html {
    height: 100%;
    background: linear-gradient(to top, #211922, #582256);
}

.m-valid {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px;
    background-color: #B7F0D0;
    border: 1px solid #533963;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0 0 3px 1px #533963;
}

.m-invalid {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px;
    background-color: rgba(247,76,83, 0.5);
    border: 1px solid #f74c53;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.container > select.s-valid {
    background-color: #B7F0D0;
    border: 1px solid #533963;
}

div.container > select.s-invalid {
    background-color: rgba(247,76,83, 0.5);
    border: 1px solid #f74c53;
}

.container {
    width: 50%;
    background: rgba(0, 0, 0, 0.18);
    text-align: center;
    border-radius: 3px;
    color: #d6dad9;
    margin: 5% auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

h1 {
    padding-top: 10px;
    font-family: bold;
    line-height: 1.5;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(214, 218, 217, .7);
    font-weight: bold;
}

input {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #533963;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0 0 3px 1px #533963;
}

input:focus {
    outline: none;
}

div.container > select {
    width: 500px;
    height: 42px;
    font-size: 16px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #533963;
    box-shadow: inset 0 0 3px 1px #533963;
    border-radius: 5px;
    font-weight: 300;
}

textarea {
    font-weight: 300;
    font-size: 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #533963;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #ffa306;
    box-shadow: inset 0 0 3px 1px #533963;
}

select {
    margin-bottom: 5px;
}

.back-to-main {
    position: relative;
    clear: both;
    text-align: center;
    top: 30px;
    margin-bottom: 20px;
}

.back-to-main > a {
    text-decoration: none;
    color: #d40000;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 2px;
    padding: 10px;
}

.back-to-main > a:hover {
    color: white;
    background-color: red;
    border-radius: 5px;
}

button#btn-submit {
    display: block;
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 1.3em;
    background: transparent;
    border-radius: 5px;
    border: solid 2px rgba(214, 218, 217, .7);
    padding: 5px 30px;
    color: rgba(214, 218, 217, .7);
    font-weight: 500;
}

button#btn-submit:hover {
    color: #582256;
    background: rgba(214, 218, 217, 1);
    border: solid 2px rgba(214, 218, 217, .7);
    border-radius: 5px;
}

button#btn-submit:focus, button#btn-submit:active {
    outline-style: none;
}